@charset "UTF-8";
@font-face {
    font-family: "Product Sans";
    src: url("../../FONTS/PRODUCTSANS/ProductSans-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../../FONTS/NOTOSANS/NotoSansJP-Medium.ttf") format("truetype");
    src:url("../../FONTS/NOTOSANS/NotoSansJP-Light.ttf")format("truetype");
    src: url("../../FONTS/NOTOSANS/NotoSansJP-Regular.ttf")format("truetype");
    src: url("../../FONTS/NOTOSANS/NotoSansJP-SemiBold.ttf")format("truetype");
}

/*ここから共通部分*/
html {
    font-family: "Product Sans" , "Noto Sans JP";
    font-weight: 400;
    background-image: url(../PRODUCE/img/gif/20210720182910.gif);
    background-size: 130%;
    background-color: rgba(230, 247, 255, 0.956);
    background-blend-mode: lighten;
    color: black;
    scroll-behavior: smooth;
}

header {
    position: fixed;

    background-color: rgba(104, 110, 117, 0.834);
    backdrop-filter: blur(2px);

    width: 6rem;
    height: 100%;

    left: 0;
    top: 0;

    text-align: center;

    color: white;

    transition: none;
}

header div img {
    width: 30%;

    margin-top: 3rem;

    background-color: rgba(95, 95, 95, 0.86);
    backdrop-filter: blur(2px);

    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    border-radius: 2rem;

    transition: all 0.5s;
}

header div p {
    margin-top: 0;
    display: block;
}

header div img:hover {
    background-color: rgb(151, 151, 151);

}

footer {
    backdrop-filter: blur(5px);

    position: fixed;

    bottom: 0;

    width: 100%;

    margin-top: 30px;
    margin-left: 5.5rem;

    padding-top: 10px;
    padding-bottom: 15px;

    background-color: rgba(0, 0, 0, 0.542);

    text-align: center;

    color: white;

    font-weight: 600;

    transition: all 0.5s;

}

/*ここまで*/


@media(min-width:900px) {
    header {
        width: 8.5rem;
    }

    footer {
        margin-left: 8rem;
    }
}


@media (max-width:655px) {

    header {
        backdrop-filter: blur(2px);

        position: fixed;

        top: 85%;

        width: 100%;

        background-color: rgba(120, 119, 119, 0.707);

        text-align: center;

        display: flex;

        justify-content: space-around;

        transition: none;
        z-index: 1;
    }

    header div img {
        width: 50%;
        margin-top: 1rem;
    }

    header div p {
        margin-left: 0.5rem;
    }

    footer {
        display: none;
    }
}




/*書き換え内容ここから*/

main {
    margin-bottom: 10rem;
}

main div.Title {
    margin-left: 15%;

    display: flex;

    align-items: center;
}

main div.Title p {
    background-color: rgba(115, 187, 255, 0.658);
    width: fit-content;
    font-size: 2rem;

    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

main div.Title p span{
    white-space: pre;
}

main div.Title a{
    border-radius: 5rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

main div.Title img{
    width: 2rem;
    height: 2rem;

    border-radius: 3rem;

    background-color: transparent;

    border: solid;

    border-color: rgb(139, 231, 0);
    background-color: rgba(255, 255, 255, 0.555);

    padding: 1rem;

    margin-left: 1rem;

    transition: all 0.5s;

}

main div.Title img:hover{
    background-color: rgb(52, 52, 52);

    filter: hue-rotate(300deg);

}




main div.mainText {
    margin-left: 15%;
    margin-right: 2%;
    background-color: rgba(255, 255, 255, 0.514);
    backdrop-filter: blur(3px);

    border: solid rgb(146, 224, 255);

    border-radius: 3rem;
}

main div.mainText div.mainTextTitle{
    margin-right: 2rem;
}

main div.mainText div.mainTextTitle p {
    font-size: 2rem;
    margin-left: 2rem;

    background-color: rgba(141, 224, 245, 0.637);
    width: fit-content;

    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    padding-right: 1rem;
    padding-left: 1rem;

    border-radius: 1rem;
}

main div.mainText div.mainTextTitle p span {
    font-size: 2.5rem;
}

main div.mainImage{
    text-align: center;
}


main div.mainImage img{
    width: 10rem;

    border-radius: 5rem;

    margin-top: 0.5rem;

    margin-bottom: 1rem;

}

main div.mainText div.InMainText {
    margin: 1rem;
}

main div.mainText div.InMainText1 {
    background-color: rgb(181, 219, 255);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;


    border-radius: 1rem;
    padding-top: 0.5rem;
}

main div.mainText div.InMainText1 ul span {
    font-size: 2.5rem;

    font-weight: 600;
    margin-top: 0rem;

    margin-left: 1rem;
}

main div.mainText div.InMainText1 ul li {
    font-size: 2rem;
    font-weight: 300;

    margin: 1rem;

    padding-bottom: 1.5rem;
}

main div.mainText div.InMainText div.InMainText2{
    margin-bottom: 2rem;
}


main div.mainText div.InMainText div.InMainText2 ul {
    background-color: rgba(124, 170, 255, 0.438);

    margin: 1rem;

    border-radius: 1rem;
}

main div.mainText div.InMainText div.InMainText2 ul li {
    font-size: 2rem;
    font-weight: 300;

    margin: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

main div.imageList{
    margin: 1rem;
    text-align: center;
    margin-left: 6rem;

}

main div.imageList img.image1{
    width: 30rem;
    height: 17rem;

    object-fit: cover;

    margin: 1rem;

    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image2{
    width: 30rem;

    margin: 1rem;

    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image3{
    width: 30rem;
    height: 22.5rem;
    object-fit: cover;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image4{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}


main div.imageList img.image5{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image6{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image7{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image8{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image9{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image10{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

main div.imageList img.image11{
    width: 30rem;

    margin: 1rem;
    
    border-radius: 1rem;
    border: solid white;
    box-shadow: 0px 0px 3px 1px gray;
}

@media (max-width:708px){
    main div.mainText div.InMainText {
        margin-bottom: 2rem;
    }
    main div.mainText div.InMainText{
        display: block;
        text-align: center;
    }

    main div.mainText div.InMainText div.InMainText1 {
        margin-left: 0rem;
        margin-right: 0rem;
    }


main div.mainText div.InMainText1 ul span {
    margin-left: -2rem;
}


    main div.mainText div.InMainText div.InMainText1 ul li{
        text-align: left;
        font-size: 1.5rem;
        font-weight: 500;
    } 

    main div.mainText div.InMainText div.InMainText2 ul {
        text-align: left;
    }


    main div.mainText div.InMainText div.InMainText2 ul li {
        font-size: 1.5rem;
        font-weight: 500;
    }


    main div.mainText div.InMainText div.InMainText2 ul{
        margin: 0rem;
        margin-bottom: -1.2rem;

        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

        background-color: rgb(182, 232, 255);
    }

    main div.mainText div.mainTextTitle p span{
        white-space: pre;
    }
}

@media (max-width:655px){
    main {
        margin-left: -4rem;
    }

    main div.imageList{
        margin-left: 5rem;
    }

    main div.imageList img.image1{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image2{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image3{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image4{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image5{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image6{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image7{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image8{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image9{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image10{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }

    main div.imageList img.image11{
        width: 20rem;
        height: 17rem;
    
        object-fit: cover;
    
        margin: 1rem;
    
        border-radius: 1rem;
        border: solid white;
        box-shadow: 0px 0px 3px 1px gray;
    }
    
    

}