/* Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #191818;
    margin: 20px;
}

header h1 {
    font-size: 2em;
    color: white;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 20px 0;
}

section {
    background-color: #121111;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: greenyellow;
}

section h2 {
    font-size: 1.5em;
    color: green;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #151414;
    color: #0af02d;
    position: fixed;
    bottom: 0;
    width: 100%;
}